# NumPy, SciPy & pandas:
* In this chapter we will talk about NumPy, SciPy and pandas.

## Numerical Python – NumPy:
* One of the most useful packages in the Python ecosystem is NumPy.
* It stands for “numerical Python” and it is widely used as an important component for many other packages.
* It provides functionality for multidimensional arrays.
* An array lets us store multiple values under a single identifier.
* Each element can be referenced by its index and all elements are of the same type.
* A straightforward application of NumPy arrays is vector and matrix algebra.
* Have a defined set of operations such as addition, subtraction, or multiplication, as well as other more specialized ones such as transposition, inversion, etc.

###  Matrices and Vectors:
* A matrix is a rectangular array with $m$ rows and $n$ columns
* We say that such an array is an $m \times n$ matrix.
*  When $m = 1$ we have a column vector and when $n = 1$ we have a row vector.
* We can represent a matrix **$A$** with elements $a_{m,n}$.

In [ ]:
list_a = [0, 1, 1, 2, 3]
list_b = [5, 8, 13, 21, 34]
list_a + list_b
# list_a * list_b

### N-Dimensional Arrays
* NumPy extends the types in Python by including arrays
* An n-dimensional array is a multidimensional container whose elements are of the same type and size.
* The type of an n-dimensional array is `ndarray`.
* The `shape` of an array gives us its dimensions.
* The type of the elements in an array is specified by a separate data-type object (called `dtype`) associated with each array.
* We define a NumPy array with `np.array`, where `np` is a convenient **alias** used for the NumPy package.

In [ ]:
import numpy as np

A = np.array(list_a)
B = np.array(list_b)

In [ ]:
type(A)

The use of the $+$ symbol with the arrays defined above results in their addition as expected. see page 104 for more

In [ ]:
C = A + B
C

NumPy also defines matrix objects with `np.matrix`.

In [ ]:
M1 = np.matrix([[1, 0], [0, 1]])
M2 = np.matrix([[0.5, 2.0], [-4.0, 2.5]])

In [ ]:
type(M1)

In [ ]:
 M1 + M2

In [ ]:
 M1 * M2

In [ ]:
M2.transpose()

In [ ]:
M2

In [ ]:
A.shape

In [ ]:
M1.shape

In [ ]:
A.dtype

In [ ]:
M.dtype

We can create an array with all elements initialised to 0 
using the function` zeros(`:

In [ ]:
z1 = np.zeros((2,3))
z1

We can also create an array with all elements initialized to 1 using the function `ones()`

In [ ]:
o1 = np.ones((3,3))
o1

###  Indexing and Slicing:
* Array objects created with NumPy can also be indexed as well as sliced and even iterated over.
* Arrays and matrices can be 
indexed and sliced with the usua 
colon notation for lists and tuples.
* `start:end:step` will extract the appropriate elements starting at `start` in `steps` given by `step` and until `end`−1

In [ ]:
a = np.arange(12)
print(a[1:4]); print(a[0:10:2])

We can do the same for arrays with higher dimensions.

In [ ]:
b= np.array([np.arange(5),0.5*np.arange(5)])
print(b)

In [ ]:
print(b[1, :])

We can also get, for instance, the elements in column 2 of the array:

In [ ]:
print(b[:, 2])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grades</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Physics</th>
                <th>Spanish</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Antonio</td>
                <td>8</td>
                <td>9</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Ziggy</td>
                <td>4.5</td>
                <td>6</td>
                <td>3.5</td>
            </tr>
            <tr>
                <td>Bowman</td>
                <td>8.5</td>
                <td>10</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Kirk</td>
                <td>8</td>
                <td>6.5</td>
                <td>9.5</td>
            </tr>
            <tr>
                <td>María</td>
                <td>9</td>
                <td>10</td>
                <td>7.5</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

In [ ]:
marks = np.array([[8, 9 ,7],
                  [4.5, 6, 3.5],
                  [8.5, 10, 9],
                  [8, 6.5, 9.5],
                  [9, 10, 7.5]])

If we wanted to obtain the marks that Bowman got for Spanish, <br/> we need to obtain the element in row 2 for column 1 This can be done as follows:

In [ ]:
marks[2,1]

Similarly we can get the marks for Physics <br/> by requesting the values of row 0 for all the students:

In [ ]:
marks[:,0]

###  Descriptive Statistics:
* NumPy also provides us with some functions to perform 
operations on arrays such as descriptive statistics includin:
    *  maximum
    *  minimum
    *  sum
    *  mean
    *  standard deviation.

Let us see some of those for the **Physics** test marks:

In [ ]:
marks[:, 0].max(), marks[:, 0].min()

In [ ]:
marks[:, 0].sum()

In [ ]:
marks[:, 0].mean(), marks[:, 0].std()

In [ ]:
We can obtain the average mark across all subjects for all students.

In [ ]:
marks.mean()

The average mark for **each** subject can be obtained <br/> by telling
the function to operate on each column, this is axis=0:

In [ ]:
marks.mean(axis=0)

we may be interested in looking at the average marks for **each** student. <br/>
In this case we operate on each row. In other words axis=1:

In [ ]:
marks.mean(axis=1)

It is possible to find unique elements in an array with the `unique` method

In [ ]:
m=np.array([3, 5, 3, 4, 5, 9, 10, 12, 3, 4, 10])

In [ ]:
np.unique(m)

We can also obtain the frequency of each unique element with <br/>
the `return_counts` argument as follows:

In [ ]:
np.unique(m, return_counts=True)